$primary: #0088FF;
$secondary: #ff9900;
$tertiary: #ff3d3d;
$lpri: #b0daff;
$lsec: #ffefd7;
$lter: #ffc6c6;
$dpri: #082844;
$dsec: #55390f;
$dter: #500505;
$trans-pri: #08284477;
$trans-sec: #44200877;
$font: courier;
$filter: sepia(0);