@import "colors.scss";

.rounded-div {
    position: sticky;
    width: 100%;
    background-color: $lsec;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom: 3px solid $secondary;
    box-shadow: 0px 10px 30px $trans-sec;
    margin-bottom: 20px;
}

.logout-btn {
    background-color: $tertiary;
    color:white;
    padding: 10px;
    border: 0px;
    font-size: 15px;
}

.go-back-btn {
    background-color: $secondary;
    color:white;
    padding: 10px;
    border: 0px;
    font-size: 15px;
}

.logged-name {
    color: $dpri;
    font-size: 18px;
}

.logo {
    display: inline;
    margin-left: 10px;
    max-width: 50px;
    animation-name: logoAni;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes logoAni {
    0%{transform: translate(0px,-20px) rotate(0deg);}
    
    25%{transform: rotate(180deg);}

    50%{transform: translate(0px,10px) rotate(180deg);}

    75%{transform: rotate(0deg);}

    100%{transform: translate(0px,-20px) rotate(0deg);}
}

.app-name {
    margin: auto;
    color: $dpri;
    text-align: center;
    display: inline;
    
}