@import "colors.scss";

.notif {
    position: relative;
    border: 2px solid $primary;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin: 20px;
    background-color: $lpri;
    color: $dsec;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.close-notif-btn {
    position: absolute;
    top: -15px;
    left:-15px;
    border: 2px solid $lsec;
    border-radius: 50%;
    color: $lsec;
    padding: 0px 12px 4px 12px;
    background-color: $dpri;
}