@import "colors.scss";

.bg{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(135deg, $lpri, $primary);
}

.header{
    padding:20px;
}

.log-comp{
    padding: 25px;
}

.main-comp{
    padding: 35px;
    background-image: linear-gradient(135deg, $lsec, $secondary);
    box-shadow: 5px 5px 15px $primary;
    border: 2px solid $primary;
    border-radius: 20px;
}

.min-label{
    color: $dsec;
    text-align: center;
    margin: 5px;
}

.min-input{
    border: 1px solid $secondary;
    border-radius: 10px;
    color: $dpri;
    text-align: center;
    font-weight: 900;
    background-image: linear-gradient(175deg, $lpri, white, white);
    margin: 5px;
}

.start-div{
    margin: 10px;
}

.start-btn{
    color: white;
    background-color: $primary;
    border: 0px;
}

.records-div{
    margin: 10px;
}

.records-btn{
    color: white;
    background-color: $primary;
    border: 0px;
}

.timer-modal-bg {
    background-color: $trans-pri;
    background-image: $lsec;
    color: $dpri;
    border: 0px;
}

.timer-modal-content {
    background-color: $lsec !important;
    border: 4px solid $primary !important;
    border-radius: 20px !important;
    text-align: center ;
    padding: 10px;
}

.timer-modal-head {
    margin-top: 5px;
    justify-content: center !important;
    border: 0px !important;
}

.timer-modal-foot {
    justify-content: center !important;
    border: 0px !important;
    margin-bottom: 10px;
    color: $dsec;
}

.timer {
    margin-top: 10px !important;
    font-size: 60px !important;
    font-weight: bolder;
    animation-name: growNShrink !important;
    -o-animation-name: growNShrink !important;
    -moz-animation-name: growNShrink !important;
    -webkit-animtion-name: growNShrink ;
    animation-duration: 0.3s !important;
    -o-animation-duration: 0.3s !important;
    -moz-animation-duration: 0.3s !important;
    -webkit-animation-duration: 0.3s !important; 
}

@keyframes growNShrink {
    0% {transform: scale(1); color: $dpri;}

    50% {transform: scale(1.5); color: $tertiary;}

    100% {transform: scale(1); color: $dpri;}
}

.timer-btn {
    margin:auto;
    color: white;
    background-color: $tertiary;
    padding: 10px;
    border: 0px;
}