@import "colors.scss";

.bg{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(135deg, $lpri, $primary);
}

.header{
    padding:20px;
}

.no-login-btn-sm {
    padding: 15px;
    color: white;
    background-color: $secondary;
    font-size: 20px;
    border: 0px;
    margin: 10px;
    border-radius: 3px;
    transform: translate(-13px,-13px);
    vertical-align: middle;
    box-shadow: 
    1px 1px 0 0 darken($secondary, 30%),
    3px 3px 0 0 darken($secondary, 30%),
    5px 5px 0 0 darken($secondary, 30%),
    7px 7px 0 0 darken($secondary, 30%),
    9px 9px 0 0 darken($secondary, 30%),
    11px 11px 0 0 darken($secondary, 30%),
    13px 13px 0 0 darken($secondary, 30%);
    transition: all 0.1s;
}

.no-log-btn-sm-row:hover .no-login-btn-sm{
    transform: translate(-2px,-2px);
    box-shadow: 2px 2px 0 0 darken($secondary, 30%);
    transition: all 0.1s;
}

.no-login-btn {
    padding: 20px;
    color: white;
    background-color: $secondary;
    font-size: 30px;
    border: 0px;
    margin: 20px;
    border-radius: 3px;
    transform: translate(-19px,-19px);
    vertical-align: middle;
    box-shadow: 
    1px 1px 0 0 darken($secondary, 30%),
    3px 3px 0 0 darken($secondary, 30%),
    5px 5px 0 0 darken($secondary, 30%),
    7px 7px 0 0 darken($secondary, 30%),
    9px 9px 0 0 darken($secondary, 30%),
    11px 11px 0 0 darken($secondary, 30%),
    13px 13px 0 0 darken($secondary, 30%),
    15px 15px 0 0 darken($secondary, 30%),
    17px 17px 0 0 darken($secondary, 30%),
    19px 19px 0 0 darken($secondary, 30%);
    transition: all 0.1s;
}

.no-log-btn-row:hover .no-login-btn{
    box-shadow: 2px 2px darken($secondary, 30%);
    transform: translate(-2px,-2px);
    transition: all 0.1s;
}

.login-btn {
    display: inline-block;
    padding: 20px;
    color: white;
    background-color: $primary;
    font-size: 30px;
    border: 0px;
    margin: 20px;
    border-radius: 3px;
    transform: translate(-19px,-19px);
    vertical-align: middle;
    box-shadow: 
    1px 1px 0 0 darken($primary, 30%),
    3px 3px 0 0 darken($primary, 30%),
    5px 5px 0 0 darken($primary, 30%),
    7px 7px 0 0 darken($primary, 30%),
    9px 9px 0 0 darken($primary, 30%),
    11px 11px 0 0 darken($primary, 30%),
    13px 13px 0 0 darken($primary, 30%),
    15px 15px 0 0 darken($primary, 30%),
    17px 17px 0 0 darken($primary, 30%),
    19px 19px 0 0 darken($primary, 30%);
    transition: all 0.1s;
}

.log-btn-row:hover .login-btn{
    box-shadow: 2px 2px darken($primary, 30%);
    transform: translate(-2px,-2px);
    transition: all 0.1s;
}

.log-return-btn {
    position: absolute;
    top: -10px;
    left:-10px;
    border: 2px solid $lpri;
    border-radius: 50%;
    color: $lpri;
    padding: 1px 9px 1px 9px;
    background-color: $dsec;
}

.log-comp{
    position:relative;
    padding: 25px;
    background-image: linear-gradient(135deg, $lsec, $secondary);
    box-shadow: 5px 5px 30px $trans-pri;
    border: 3px solid $primary;
    border-radius: 20px;
}

.main-comp{
    position: relative;
    padding: 35px;
    background-image: linear-gradient(135deg, $lsec, $secondary);
    box-shadow: 5px 5px 30px $trans-pri;
    border: 3px solid $primary;
    border-radius: 20px;
    transition: all 0.1s;
}

.min-label{
    color: $dsec;
    text-align: center;
    margin: 10px;
}

.min-input {
    border: 3px solid $secondary;
    border-radius: 10px;
    color: $dpri;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    background-image: linear-gradient(175deg, $lpri, white, white);
    margin: 10px;
}

.push-input {
    border: 1px solid $secondary;
    border-radius: 10px;
    color: $dpri;
    text-align: center;
    font-weight: 900;
    background-image: linear-gradient(175deg, $lpri, white, white);
    margin: 10px;
}

.start-div{
    margin: 15px;
}

.start-btn{
    color: white;
    background-color: $primary;
    padding: 5px 15px;
    border: 0px;
    border-radius: 5px;
    transform: translate(-11px,-11px);
    vertical-align: middle;
    box-shadow: 
    1px 1px 0 0 darken($primary, 30%),
    3px 3px 0 0 darken($primary, 30%),
    5px 5px 0 0 darken($primary, 30%),
    7px 7px 0 0 darken($primary, 30%),
    9px 9px 0 0 darken($primary, 30%),
    11px 11px 0 0 darken($primary, 30%);
    transition: all 0.1s;
}

.start-btn-row:hover .start-btn{
    transform: translate(-2px,-2px);
    vertical-align: middle;
    box-shadow: 2px 2px 0 0 darken($primary, 30%);
    transition: all 0.1s;
}

.start-btn-main{
    color: white;
    background-color: $primary;
    font-size: 30px;
    padding: 10px 20px;
    border: 0px;
    border-radius: 8px;
    margin-top: 10px;
    transform: translate(-15px,-15px);
    vertical-align: middle;
    box-shadow: 
    1px 1px 0 0 darken($primary, 30%),
    3px 3px 0 0 darken($primary, 30%),
    5px 5px 0 0 darken($primary, 30%),
    7px 7px 0 0 darken($primary, 30%),
    9px 9px 0 0 darken($primary, 30%),
    11px 11px 0 0 darken($primary, 30%),
    13px 13px 0 0 darken($primary, 30%),
    15px 15px 0 0 darken($primary, 30%);
    transition: all 0.1s;
}

.start-btn-main-row:hover .start-btn-main{
    transform: translate(-2px,-2px);
    vertical-align: middle;
    box-shadow: 2px 2px 0 0 darken($primary, 30%);
    transition: all 0.1s;
}

.records-div{
    margin: 15px;
}

.records-btn{
    color: white;
    background-color: $primary;
    border: 0px;
    margin-top: 20px;
    border-radius: 4px;
    transform: translate(-11px,-11px);
    vertical-align: middle;
    box-shadow: 
    1px 1px 0 0 darken($primary, 30%),
    3px 3px 0 0 darken($primary, 30%),
    5px 5px 0 0 darken($primary, 30%),
    7px 7px 0 0 darken($primary, 30%),
    9px 9px 0 0 darken($primary, 30%),
    11px 11px 0 0 darken($primary, 30%);
    transition: all 0.1s;   
}

.records-btn-row:hover .records-btn{
    transform: translate(-2px,-2px);
    vertical-align: middle;
    box-shadow: 2px 2px 0 0 darken($primary, 30%);
    transition: all 0.1s;
}

.timer-modal-bg {
    background-color: $trans-pri;
    background-image: $lsec;
    color: $dpri;
    border: 0px;
}

.timer-modal-content {
    background-color: $lsec !important;
    border: 4px solid $primary !important;
    border-radius: 20px !important;
    text-align: center ;
    padding: 10px;
}

.timer-modal-head {
    margin-top: 5px;
    justify-content: center !important;
    border: 0px !important;
}

.timer-modal-foot {
    justify-content: center !important;
    border: 0px !important;
    margin-bottom: 10px;
    color: $dsec;
}

.timer {
    margin-top: 10px !important;
    font-size: 60px !important;
    font-weight: bolder;
    animation-name: growNShrink !important;
    -o-animation-name: growNShrink !important;
    -moz-animation-name: growNShrink !important;
    -webkit-animtion-name: growNShrink ;
    animation-duration: 0.2s !important;
    -o-animation-duration: 0.2s !important;
    -moz-animation-duration: 0.2s !important;
    -webkit-animation-duration: 0.2s !important; 
}

@keyframes growNShrink {
    0% {transform: scale(1); color: $dpri;}

    50% {transform: scale(2); color: $tertiary;}

    100% {transform: scale(1); color: $dpri;}
}

.timer-wait {
    margin-top: 10px !important;
    font-size: 100px !important;
    font-weight: 100;
    animation-name: timeFade !important;
    -o-animation-name: timeFade !important;
    -moz-animation-name: timeFade !important;
    -webkit-animtion-name: timeFade ;
    animation-duration: 0.9s !important;
    -o-animation-duration: 0.9s !important;
    -moz-animation-duration: 0.9s !important;
    -webkit-animation-duration: 0.9s !important; 
}

.timer-prog {
    margin-top: 10px !important;
    font-size: 50px !important;
    font-weight: bolder;
}

@keyframes timeFade {
    0% {color: $dsec;}

    100% {color: #00000000;}
}

.click-any-lg {
    font-size: 26px;
}

.click-any-sm {
    font-size: 18px;
}

.timer-btn {
    margin:auto;
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
    border: 0px;
    transform: translate(-7px,-7px);
    vertical-align: middle;
    box-shadow: 
    1px 1px 0 0 darken($tertiary, 30%),
    3px 3px 0 0 darken($tertiary, 30%),
    5px 5px 0 0 darken($tertiary, 30%),
    7px 7px 0 0 darken($tertiary, 30%);
    transition: all 0.1s;
    animation-name: btnBlink !important;
    -o-animation-name: btnBlink !important;
    -moz-animation-name: btnBlink !important;
    -webkit-animtion-name: btnBlink ;
    animation-duration: 0.45s !important;
    -o-animation-duration: 0.45s !important;
    -moz-animation-duration: 0.45s !important;
    -webkit-animation-duration: 0.45s !important; 
    animation-iteration-count: infinite !important;
    -o-animation-iteration-count: infinite !important;
    -moz-animation-iteration-count: infinite !important;
    -webkit-animation-iteration-count: infinite !important;
}

.timer-btn-row:hover .timer-btn{
    transform: translate(-2px,-2px);
    vertical-align: middle;
    box-shadow: 2px 2px 0 0 darken($tertiary, 30%);
    transition: all 0.1s;
}

@keyframes btnBlink {
    0% {background-color: $tertiary;}

    50% {background-color: pink;}

    100% {background-color: $tertiary;}
}

.done-btn {
    margin:auto;
    color: white;
    background-color: $primary;
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
    border: 0px;
    transform: translate(-11px,-11px);
    vertical-align: middle;
    box-shadow: 
    1px 1px 0 0 darken($primary, 30%),
    3px 3px 0 0 darken($primary, 30%),
    5px 5px 0 0 darken($primary, 30%),
    7px 7px 0 0 darken($primary, 30%),
    9px 9px 0 0 darken($primary, 30%),
    11px 11px 0 0 darken($primary, 30%);
    transition: all 0.1s;
}

.done-btn-row:hover .done-btn{
    transform: translate(-2px,-2px);
    box-shadow: 2px 2px 0 0 darken($primary, 30%);
    transition: all 0.1s;
}

.nope-img {
    height: 100px;
    width: 100px;
}

.push-up-ani {
    animation-name: spinner;
    -o-animation-name: spinner;
    -moz-animation-name: spinner;
    -webkit-animtion-name: spinner;
    animation-duration: 0.6s;
    -o-animation-duration: 0.6s;
    -moz-animation-duration: 0.6s;
    -webkit-animation-duration: 0.6s; 
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    height: 80px;
    width: 100px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-filter: $filter;
    filter: $filter;
}

@keyframes spinner {
    0% {background-image: url("../assets/push_up_ani01.svg");}

    50% {background-image: url("../assets/push_up_ani02.svg");}

    100%{background-image: url("../assets/push_up_ani01.svg");}
}