@import "colors.scss";

.theme-btn {
    background-color: $secondary;
    color:white;
    padding: 10px;
    border: 0px;
    font-size: 15px;
    border-radius: 6px;
}

.logout-btn {
    background-color: $tertiary;
    color:white;
    padding: 10px;
    border: 0px;
    font-size: 15px;
    border-radius: 6px;
}

.eye-img {
    width: 35px;
    height: 35px;
}